.bg-pink {
  background-color: #e83e8c !important;
}

.bg-purple {
  background-color: #7e5bef !important;
}

.bg-indigo {
  background-color: #6366f1 !important;
}

.text-pink {
  color: #e83e8c !important;
}

.text-purple {
  color: #7e5bef !important;
}

.text-indigo {
  color: #6366f1 !important;
}

.card {
  transition: transform 0.2s ease-in-out;
}

  .card:hover {
    transform: scale(1.015);
  }
