.card-title {
  font-size: 1.75rem;
  font-weight: 600;
}

.card-text {
  line-height: 1.7;
}

.card img {
  border-radius: 0.4rem;
  max-height: 500px;
  object-fit: cover;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover {
  opacity: 0.9;
}

.related-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.news-body p {
  margin-bottom: 1rem;
}

.news-image {
  padding: 16px;
}

  .news-image img {
    width: auto !important; /* desfaz w-100 */
    max-width: 100% !important; /* mantém responsiva */
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }
