/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';
@import "@ng-select/ng-select/themes/default.theme.css";

html, body, app-root {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

app-root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background-image: url('assets/img/logo/background.jpeg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* camada opaca sobre a imagem */
    z-index: -1;
  }
