@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';
@import "@ng-select/ng-select/themes/default.theme.css";

.news-body img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

  /* Se a imagem for maior que 40px, vira "block" e centralizada */
  .news-body img:not([src*="emoji"]):not([src*="notoemoji"]) {
    display: block;
    margin: 15px auto;
    border-radius: 6px;
  }

html, body, app-root {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

app-root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background-image: url('assets/img/logo/background.jpeg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* camada opaca sobre a imagem */
    z-index: -1;
  }
