<div class="p-3">
  <h4>Portal Admin</h4>
</div>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="dashboard"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="news"><i class="fas fa-newspaper me-2"></i>Notícias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="documents"><i class="fas fa-file-alt me-2"></i>Documentos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="birthdays"><i class="fas fa-birthday-cake me-2"></i>Aniversariantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="menu"><i class="fas fa-utensils me-2"></i>Cardápio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="events"><i class="fas fa-calendar-alt me-2"></i>Eventos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="feedbacks"><i class="fas fa-comments me-2"></i>Feedbacks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="users"><i class="fas fa-users me-2"></i>Usuários</a>
  </li>
</ul>
